<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev_G5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style_header.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <div class="content-header">
            <div class="logo-header container-header">
                <a asp-area="" asp-controller="Feed"><img src="~/img/header-logo.png" alt=""></a>
            </div>
            <div class="form-header container-header">
                <form action="Search">
                    <input type="text" placeholder="Pesquisar" id="search">
                </form>
            </div>
            <div class="menu-header container-header">
                <a asp-area="" asp-controller="Feed"><img src="~/img/header-icon1-dark.png" alt=""></a>
                <a href="#" onclick="noItem()"><img src="~/img/header-icon2.png" alt=""></a>
                <a onclick="noItem()"><img src="~/img/contrast-circle-512.png" width="25px"></a>
                <a href="#" onclick="noItem()"><img src="~/img/header-icon4.png" alt=""></a>
                <div class="container-image-header">
                    <a asp-area="" asp-controller="Perfil"><img class="image-user" src="~/img/Usuarios/@ViewBag.FotoLogado"></a>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* @RenderSection("Scripts", required: false) *@
    <script>
        function noItem(){
            alert("| Em breve, aguarde |")
        }
    </script>
</body>
</html>